.VacationsList > a {
    position: fixed;
    top: 60px;
    right: 10px;
}

.VacationsList {
    padding: 0;
    margin: 10px;
}

.pagination{
    width: 100%;
    height: 20px;
    list-style: none;
    display:flex ;
    justify-content: center;
}

.pagination a{
    font-weight: bold;
    padding: 10px;
    margin: 5px;
    border-radius: 100px ;
    border: 1px solid #68b9db;
    color: #000;
    cursor: pointer;
    background-color: white;
}

.pagination a:hover{
    color: whitesmoke;
    background-color: #68b9db;
}


.paginationActive a{
    color: white;
    background-color: #68b9db;;
}